# mac os x hidden file
.DS_Store

# emacs backup files
*~

# built tools
/bin/

# built tests
/test/

# main intermediate
src/cmdstan/main*.o

# test models
/src/test/test-models/*
!/src/test/test-models/*.stan
!/src/test/test-models/*.R
!/src/test/test-models/*.json

# local make include
make/local

# /doc/
/doc
/doc/*.pdf

# temporary latex files
*.aux
*.bbl
*.blg
*.cb
*.cb2
*.idx
*.log
*.out
*.upa
*.brf
*.toc
*.fdb_latexmk
*.fls
*.ilg
*.ind

# built manual
src/docs/**/*.pdf

output.csv
output*.csv
*.d
*.o
# gdb
.gdb_history

#vscode
.vscode/*
.vscode/**
